nav {
    width: 100%;
    /* background: linear-gradient(-90deg, #e02909d8, #7d1604eb); */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    width: 130px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;;
}

.dark-nav {
    /* background: linear-gradient(-90deg, #0b0b0b, #1c1c1c); */
    background: linear-gradient(-90deg, #e02909, #7d1604);
    transition: 0.9s;
}